<div id="welcome-container" class="bg-image-container">
	<div class="text-center">Chào mừng bạn đến với Hệ thống Quản lý Thư viện</div>
	<a class="btn mb-3" href="/auth/student-login">Đăng nhập Sinh viên</a>
	<a class="btn" href="/auth/admin-login">Đăng nhập Quản trị viên</a>
</div>