
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.Show-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}
.Late-days {
    margin-bottom: 20px;
}

.Hide-details {
    display: none;
}

.show, .hide {
    background-color: #cc89e6;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100vh;
    text-align: left;
    border: 1px solid 10px;
}

.show:hover, .hide:hover {
    background-color: #d441e7;
}