<main>
	<%- include('../partials/studentSidebar') %>
	
	<div id="main-wrapper">
			
		<div class="bg-white mb-5 p-3 d-sm-flex align-items-center justify-content-between">
			<h5 class="m-0 fw-bold color-theme">Quy định và Nội quy</h5>
		</div>
		
		<ul class="m-4 p-5 lh-lg bg-white" style="font-size: 18px;">
			<li>Mọi người phải giữ im lặng trong thư viện.</li>
			<li>Học sinh có thể trực tiếp tìm kiếm sách và kiểm tra tính khả dụng của sách qua trang web.</li>
			<li>Sách chỉ được cấp cho học sinh sau khi xuất trình thẻ thư viện hợp lệ.</li>
			<li>Học sinh cần kiểm tra tình trạng mượn sách của mình trên trang web thường xuyên.</li>
			<li>Một học sinh chỉ có thể giữ một cuốn sách tối đa 7 ngày, sau đó sách phải được trả lại.</li>
			<li>Vi phạm nội quy và hành vi ứng xử không đúng mực đối với nhân viên thư viện sẽ dẫn đến các hình thức kỷ luật nghiêm khắc.</li>
		</ul>
		
	</div>

</main>