<div class="bg-image-container pt-5">
	<div class="form-container bg-white m-auto p-5">
		<form action="/auth/admin-login" method="POST">
			<h3 class="text-center mb-3">Đăng nhập quản trị viên</h3>
			<div class="mb-3">
				<label for="email" class="form-label">Địa chỉ email</label>
				<input type="email" name="email" class="form-control" id="email" placeholder="Nhập email.." required>
			</div>
	
			<div class="mb-3">
				<label for="password" class="form-label">Mật khẩu</label>
				<input type="password" name="password" class="form-control" id="password" placeholder="Nhập mật khẩu.." required>
			</div>
			<button type="submit" class="btn d-block m-auto mt-4">Đăng nhập</button>
			
			<div class="mt-3">
				<span>Bạn là sinh viên?</span>
				<a href="/auth/student-login">Hãy đăng nhập tại đây</a>
			</div>
			
		</form>
	</div>
</div>